.control-wrapper {
    margin-left: 40px;
    min-width: 300px;
    max-width: 380px;
}

.control-wrapper .current-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.player-card {
    width: 78px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.player-card:hover {
    box-shadow: 0 4px 10px 3px #ccc;
}

.player-card .card-image {
    width: 53px;
}

.deck-wrapper .player-card {
    margin-bottom: 0;
}

.control-wrapper .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.control-wrapper .content-wrapper .number {
    font-size: 20px;
    color: #DD1A1E;
}

.control-wrapper .content-wrapper .number.spade,
.control-wrapper .content-wrapper .number.club {
    color: #000;
}

.control-wrapper .content-wrapper .top-left {
    position: absolute;
    top: 3px;
    left: 5px;
}

.control-wrapper .content-wrapper .bottom-right {
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.control-wrapper .content-wrapper .suit {
    width: 20px;
}

.control-wrapper .content-wrapper .suit.top {
    position: absolute;
    left: 40%;
    top: 25%;
}

.control-wrapper .content-wrapper .suit.bottom {
    position: absolute;
    left: 40%;
    top: 55%;
}

.deck-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deck-wrapper .pending {
    margin-left: 10px;
}

.deck-wrapper .pending .pending-cards {
    font-size: 16px;
    width: 80px;
    height: 57px;
    text-align: center;
}

.deck-wrapper .deck {
    width: 78px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-wrapper .deck img {
    width: 64px;
    height: 87px;
}

.deck-wrapper .used-deck {
    display: flex;
    align-items: center;
}

.score-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.score-wrapper .team {
    display: flex;
    margin-bottom: 10px;
    font-weight: 500;
}

.score-wrapper .team .name {
    width: 180px;
    background: #DD1A1E;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    margin-right: 15px;
    font-size: 17px;
}

.score-wrapper .team .score {
    width: 40px;
    background: #DD1A1E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.score-wrapper .team.team-blue .name,
.score-wrapper .team.team-blue .score {
    background: #0000ff;
}

.control-wrapper .turn-span {
    text-align: center;
    margin-bottom: 20px;
}

.control-wrapper .turn-span .turn {
    margin: 0;
    display: inline-block;
    background: #27ae60;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.5;
}

.control-wrapper .turn-span .turn.can-play {
    opacity: 1;
}