.board-wrapper.no-play {
    pointer-events: none;
    opacity: 0.5;
}

.board-wrapper.end-game {
    pointer-events: none;
    opacity: 1;
}

.card {
    width: 85px;
    height: 60px;
    background: #fff;
    border-radius: 5px;
    margin: 2px 3px;
    display: inline-block;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 10px 3px #ccc;
}

.card .content {
    pointer-events: none;
    position: absolute;
    width: 85px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .content .suit-wrapper .club {
    background: url("../../../assets/images/club.png") no-repeat;
}

.card .content .suit-wrapper .heart {
    background: url("../../../assets/images/heart.png") no-repeat;
}

.card .content .suit-wrapper .diamond {
    background: url("../../../assets/images/diamond.png") no-repeat;
}

.card .content .suit-wrapper .spade {
    background: url("../../../assets/images/spade.png") no-repeat;
}

.card .content .face-card {
    width: 65px;
    height: 40px;
}

.card .content .suit-wrapper .suit {
    background-size: contain;
    display: block;
    width: 15px;
    height: 15px;
}

.card .content .suit-wrapper .right {
    position: absolute;
    right: 10px;
    top: 22px;
}

.card .content .suit-wrapper .left {
    position: absolute;
    left: 10px;
    top: 22px;
}

.card .content .number-wrapper {
    font-size: 21px;
}

.card .content .number-wrapper .heart,
.card .content .number-wrapper .diamond {
    color: #DD1A1E;
}

.card .content .number-wrapper .club,
.card .content .number-wrapper .spade {
    color: #000;
}

.card .content .coin {
    position: absolute;
}

.card .content .coin img {
    width: 40px;
}