.main {
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}